//tables reflow
.table-reflow {
  .btn-wide {
    width: auto;
    margin-bottom: 0;
    padding: 14px 25px;
    font-size: 14px;
  }
  .row-t {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    .col-t {
      width: 20%;
      text-align: center;
      .td-value {
        display: inline-block;
        padding: 10px 15px;
        min-width: 56px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        border: solid 1px;
        border-radius: 5px;
        @media only screen and (max-width: 768px) {
          padding: 7px 12px;
        }
      }
      .td-value.alert {
        color: #ff5454;
        background-color: #ffdddd;
        border-color: #ff5454;
      }
      .td-value.normal {
        color: #3ac95f;
        background-color: #d8f4df;
        border-color: #3ac95f;
      }
      .td-value.medium {
        color: #ffc148;
        background-color: #fff3da;
        border-color: #ffc148;
      }
    }
    .col-t.td-date {
      font-size: 14px;
      color: $text;
      @media only screen and (min-width: 768px) {
        padding-left: 35px;
        text-align: left;
      }
    }
  }
  .row-t-header {
    background-color: #f0f1f6;
    .col-t {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      color: #aaaaaa;
      &:first-child {
        @media only screen and (min-width: 768px) {
          padding-left: 35px;
          text-align: left;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .table-reflow {
    .row-t-header {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .row-t {
      flex-direction: column;
      margin-bottom: 20px;
      padding: 0 0 10px 0;
      background-color: white;
      border-bottom: none;
      border-radius: 5px;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
      .col-t {
        position: relative;
        width: 100%;
        padding-left: 50%;
        min-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        text-align:right;
        border-bottom: none;
        &:before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          text-align:left;
          font-weight: bold;
          font-size: 12px;
          text-transform: uppercase;
          color: #aaaaaa;
        }
        &:before {
          content: attr(data-title);
        }
      }
      .col-t.td-date {
        min-height: auto;
        background-color: #f0f1f6;
      }
    }
  }
}

